<div class="overAll">


    <div class="header">
        <div class="backIcon" (click)="backToChat()"  (keypress)="handleKeyPress($event)" >
            <i class="bi bi-caret-left-fill"></i>
        </div>
        <div class="profile">
            <div class="profileRound">
                <h1>{{ paramValue.userName.charAt(0).toUpperCase() }}</h1>
            </div>
            <div class="name">
                <h1>{{paramValue.userName}}</h1>
                <p>@ {{paramValue.nickname}}</p>
            </div>
        </div>

        <div class="mode-toggle" style="z-index: 100;">
            <input type="checkbox" id="mode-switch" class="toggle-input" (change)="toggleTheme()">
            <label for="mode-switch" class="toggle-label">
                <img class="sun" src="./assets/images/lock.png" alt="Sun">
                <img class="moon" style="filter: contrast(150%);" src="./assets/images/unlock.png" alt="Moon">
            </label>
        </div>
    </div>

    <div class="chatting" #contentsss style="margin-top: 9vh; margin-bottom: 10vh;">


        <div class="messageContainer">
            <div class="messages" (click)="resetSelection()" (keypress)="handleKeyPress($event)" isShowEditContainer = false
                *ngFor="let mgs of Conversation ">

                <div class="sendMessageContainer"
                    [style]="mgs.data.received === '' ? 'display: none' : 'display: flex'">
                    <div class="sendMessage" [style]="mgs.data.isDeleted ? 'display: none' : 'display: flex'">

                        <p *ngIf="!secure">{{mgs._rev}}</p>
                        <p *ngIf="secure">{{mgs.data.received}}</p>

                    </div>

                    <p class="sendTime">{{mgs.data.time}}</p>
                    <p class="sendIsEdit" *ngIf="mgs.isEdited  && secure">| Edited</p>

                </div>
                <div class="sendMessageContainer" [style]="!mgs.data.isDeleted ? 'display: none' : 'display: flex'">

                    <div class="sendDeleteMessage" [style]="!mgs.data.hisMgs ? 'display: none' : 'display: flex'">

                        <p>This Message has been Deleted by {{paramValue.userName}}</p>

                    </div>
                    <p class="sendTime" [style]="mgs.myMgs ? 'display: none' : 'display: flex'">{{mgs.data.time}}</p>
                </div>

                <div class="myMessageContainer" [style]="mgs.data.send === '' ? 'display: none' : 'display: flex'">
                    <div class="myMessage" (mousedown)="onMouseDown($event, mgs._id)"
                        (touchstart)="onTouchStart($event, mgs._id)" (touchend)="onTouchEnd($event, mgs._id)"
                        (mouseup)="onMouseUp($event)">
                        <div *ngIf="isEditontainer[mgs._id] && isShowEditContainer" class="editDeldteContainer">
                            <i class="bi bi-pencil-square" style="color: #66a9e0;" (click)="editAction(mgs)" (keypress)="handleKeyPress($event)"></i>
                            <i class="bi bi-trash3-fill" style="color: rgb(253, 130, 151);"
                                (click)="deleteAction(mgs)"(keypress)="handleKeyPress($event)"></i>
                        </div>
                        <p *ngIf="!secure">{{mgs._rev}}</p>
                        <p *ngIf="secure">{{mgs.data.send}}</p>

                    </div>
                    <p class="myTime">{{mgs.data.time}}</p>
                    <p class="myIsEdit" *ngIf="mgs.data.isEdited && secure">Edited |</p>
                </div>

                <div class="myMessageContainer" [style]="!mgs.data.isDeleted ? 'display: none' : 'display: flex'">
                    <div class="myDeleteMessage" [style]="!mgs.myMgs ? 'display: none' : 'display: flex'">

                        <p>This Message has been Deleted by you</p>

                    </div>
                    <p class="myTime" [style]="!mgs.myMgs ? 'display: none' : 'display: flex'">{{mgs.time}}</p>
                </div>
            </div>
            <div (click)="resetSelection()" (keypress)="handleKeyPress($event)" isShowEditContainer = false
                style="width: 100%; height: 100vh; background-color: #ecf1fa;"></div>
        </div>

        <div class="footer">
            <div class="textBox">
                <input type="text" [(ngModel)]="message" autocomplete='off' name="message" (keyup.enter)="sendMessage()"
                    placeholder="Message">
                    <div class="fileButton" style="position: relative;">
                        <input type="file" (change)="selectedSendFile($event)" multiple #file style="opacity: 0.0; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height:100%;" />
                        <i class="bi bi-link-45deg"></i>
                    </div>
            </div>
            <div class="sendButton" (click)="sendMessage()" (keypress)="handleKeyPress($event)">
                <i class="bi bi-chat-heart-fill"></i>
                <p>send</p>
            </div>
        </div>

        <div class="passwordDiolog" *ngIf="passwordDiolog" style="z-index: 1000;">
            <i class="bi bi-fingerprint"></i>
            <div class="dividerContainer">
                <div>
                    <hr>
                </div>
                or
                <div>
                    <hr>
                </div>
            </div>
            <input type="password" [style.border]="showError ? '0.2vh solid red' : '0.2vh solid #66a9e0'"
                placeholder="Enter your password" autocomplete="new-password" [(ngModel)]="CheckPassword">
            <button (click)="conformPassword()" id="conformPassword" (keypress)="handleKeyPress($event)">Conform</button>
        </div>

        <div class="passwordDiolog" *ngIf="editDiolog" style="z-index: 1000;">
            <input type="text" placeholder="Edit your Message..." [(ngModel)]="editedMessage">
            <div class="editButtons">
                <button (click)="editDiolog = false" (keypress)="handleKeyPress($event)" style="background-color: rgb(253, 130, 151);">Cancel</button>
 
            </div>
        </div>

        <div class="passwordDiolog" *ngIf="deleteDiolog" style="z-index: 1000;">
            <p style="font-size: 1.6vh;">Are you sure to delete</p>
            <div class="editButtons">
                <button (click)="deleteDiolog = false" (keypress)="handleKeyPress($event)" style="background-color: rgb(253, 130, 151);">Cancel</button>
                <button (click)="deleteMyMgs()" (keypress)="handleKeyPress($event)">Delete</button>
            </div>
        </div>
    </div>
</div>