<div class="chat">
    <div class="nav">
        <h2>AmorChat</h2>
        <div class="side">
            <div class="addFriends" (click)=" navigateAddfriend()">
                <svg xmlns="http://www.w3.org/2000/svg"
                    style="width: 2.7vh; height: 2.7vh; padding-bottom: 0.4vh; padding-left: 0.2vh" fill="#525252b9"
                    class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                        d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                </svg>
            </div>
            <div class="profile" (click)=" navigateProfile()">
                <h1>{{UserList[0].userName.charAt(0).toUpperCase()}}</h1>

            </div>
        </div>
    </div>
    <div class="empty"></div>
    <div class="nicknameBack" *ngIf="isNickNameDiolog">
        <div class="nickNameDiolog">
            <input type="text" placeholder="Enter Your Nick Name" name="nickname" [(ngModel)]="nickname"
                [style.border]="showErrorNickName ? '0.2vh solid red' : '0.2vh solid #66a9e0'">
            <p style="font-size: 1.8vh;padding: 1vh;">Gender</p>

            <div class="gender" [style.border]="showErrorGender ? '0.2vh solid red' : '0.2vh solid #66a9e0'">
                <div class="male" (click)="toggleMale()" [style.background-color]="isGenderMale ? '#0099ff' : ''">
                    <p [style.color]="isGenderMale ? '#fff' : '#767676'">Male</p>
                </div>
                <div class="female" (click)="toggleFemale() " [style.background-color]="isGenderFemale ? '#ff00ea' : ''"
                    [style.border-left]="showErrorGender ? '0.2vh solid red' : '0.2vh solid #66a9e0'">
                    <p [style.color]="isGenderFemale ? '#fff' : '#767676'">Female</p>
                </div>
            </div>

            <div class="age-calculator">
                <label style="padding: 1.2vh; font-size: 1.8vh;">Date of Birth:</label>

            </div>

            <div class="dob-picker">
                <select class="dob-select" style="width: 20%; height: 4.5vh;" [(ngModel)]="selectedDay"
                    [style.border]="showErrorDob ? '0.2vh solid red' : '0.2vh solid #66a9e0'">
                    <option value="" disabled selected>Day</option>
                    <option *ngFor="let day of days" [value]="day">{{ day }}</option>
                </select>

                <select class="dob-select" style="width: 30%; height: 4.5vh;" [(ngModel)]="selectedMonth"
                    [style.border]="showErrorDob ? '0.2vh solid red' : '0.2vh solid #66a9e0'">
                    <option value="" disabled selected>Month</option>
                    <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                </select>

                <select class="dob-select" style="width: 25%; height: 4.5vh;" [(ngModel)]="selectedYear"
                    [style.border]="showErrorDob ? '0.2vh solid red' : '0.2vh solid #66a9e0'">
                    <option value="" disabled selected>Year</option>
                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
            </div>


            <button (click)="nickNameValidation()">Conform</button>
        </div>
    </div>
    <div class="chatListContainer">

    </div>

</div>