<div class="chat" *ngIf="UserList.length > 0">
    <div class="nav">
        <h2>AmorChat</h2>
        <div class="side">
            <div class="addFriends" (click)="toggleBottomDiv()">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 2.7vh; height: 2.7vh; padding-bottom: 0.4vh; padding-left: 0.2vh" fill="#525252b9" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </div>            
            <div class="profile" (click)="toggleProfileBottomDiv()">
                <h1>{{ UserList[0].username.charAt(0).toUpperCase() }}</h1>
            </div>
        </div>
    </div>
    <div class="empty"></div>
    <div class="chatListContainer">

    </div>
    <div class="addFriendsContainer" *ngIf="showAddFriendDiv">
        <div style="height: 7vh;"></div>
        <div class="header">
            <div class="backButton" (click)="toggleBottomDiv()">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 2vh; height: 2vh;" fill="#000" class="bi bi-chevron-down bold-icon" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>                
            </div>
            <div class="pageTitle">
                <h1>Add Friends</h1>
            </div>
        </div>
        <div class="searchBar">
            <svg style="margin-left: 2.9vh; width: 2vh; height: 2vh; " xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
                <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
                <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z"/>
              </svg>
              <input type="number"  placeholder="Search Contact">
        </div>
        <div class="inviteLove" (click)="share()">
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 3vh; height: 3vh;" fill="#000" class="bi bi-postcard-heart" viewBox="0 0 16 16">
                <path d="M8 4.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7Zm3.5.878c1.482-1.42 4.795 1.392 0 4.622-4.795-3.23-1.482-6.043 0-4.622ZM2.5 5a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Z"/>
                <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H2Z"/>
              </svg>
              <p style="margin-left: 1vh;">Invite your buddy!   via whatsApp</p>
        </div>
        <div class="friendRequestContainer">
            <h2>Friend Requests</h2>
            <div class="friendRequestBox" *ngIf="isFriendRequest">
                <p style="font-size: 1.6vh;">No Friend Requests yet</p>
            </div>
            <div *ngFor="let user of FriendRequestList[0].friendrequest">
            <div class="friendRequestVisible" *ngIf="!isFriendRequest">
                <div class="profile"><h1>{{ user.username.charAt(0).toUpperCase() }}</h1></div>
                <div class="names">
                    <h4 style="font-size: 1.9vh;">{{ user.username }}</h4>
                    <h4>{{ user.nickname }}</h4>
                    <h4>{{ user.phonenumber }}</h4>
                </div>
                <div class="accept">
                    <svg style="margin-right: 0.6vh; margin-bottom:0.4vh; width:1.9vh; height: 1.9vh;" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-plugin " viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 1 2.898 5.673c-.167-.121-.216-.406-.002-.62l1.8-1.8a3.5 3.5 0 0 0 4.572-.328l1.414-1.415a.5.5 0 0 0 0-.707l-.707-.707 1.559-1.563a.5.5 0 1 0-.708-.706l-1.559 1.562-1.414-1.414 1.56-1.562a.5.5 0 1 0-.707-.706l-1.56 1.56-.707-.706a.5.5 0 0 0-.707 0L5.318 5.975a3.5 3.5 0 0 0-.328 4.571l-1.8 1.8c-.58.58-.62 1.6.121 2.137A8 8 0 1 0 0 8a.5.5 0 0 0 1 0Z"/>
                      </svg>
                    <h2>Accept</h2>
                </div>
                <div class="cancel">
                    <svg xmlns="http://www.w3.org/2000/svg"  class="bi bi-x" style="width:2vh; height: 2vh; stroke-width: 1.5; stroke:  #b4b6b8 ;" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                </div>
            </div></div>
        </div>
    </div>
    <div class="userProfileContainer" *ngIf="showUserProfiledDiv">
        <div style="height: 7vh;"></div>
       
        <div class="top">
            <div class="backButton" (click)="toggleProfileBottomDiv()">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 2vh; height: 2vh;" fill="#000" class="bi bi-chevron-down bold-icon" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>    
            </div>
            <h1>{{ UserList[0].username.charAt(0).toUpperCase() }}</h1>
        </div> 
        <div class="bottom">
            <div class="pageTitle" style="margin-top: 2vh;">
                <h1>Your Profile</h1>
            </div>
            <div class="userDetails">
                <div style="width: 50%; height: 100%;">
                    <div class="spacing">
                        <p>User Name</p>
                        <h1>{{ UserList[0].username }}</h1>
                    </div>
                    <div class="spacing">
                        <p>Nick Name</p>
                        <h1 style="font-size: 2vh;">{{ UserList[0].nickname }}</h1>
                    </div>
                    <div class="spacing">
                        <p>Phone Number</p>
                        <h1 style="font-size: 2vh;">{{ UserList[0].phonenumber }}</h1>
                    </div>
                </div>
                <div style="width: 50%; height: 100%; display: flex;
                align-items: center ; justify-content: center; flex-direction: column;">
                    <div class="spacing" style="margin: 4vh !important;">
                        <p>Gender</p>
                        <p>
                          <span *ngIf="UserList[0].gender === 'female'; else maleIcon">
                            <svg xmlns="http://www.w3.org/2000/svg" style="padding-left: 1vh; padding-top: 1vh; width: 4vh; height: 4vh; stroke: #ff00ea; stroke-width: 1.5;" class="bi bi-gender-female" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z"/>
                            </svg>
                          </span>
                          <ng-template #maleIcon>
                            <svg xmlns="http://www.w3.org/2000/svg" style="padding-left: 1vh; padding-top: 1vh; width: 4vh; height: 4vh; stroke:  #0099ff; stroke-width: 1.5;" class="bi bi-gender-male" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
                            </svg>
                          </ng-template>
                        </p>
                      </div>
                      
                    <div class="editButton">
                        <p style=" font-size: 1.8vh;">Edit Profile</p>
                    </div>
                </div>
            </div>
            <div class="buttonsSection">
                <div class="inviteLove">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 3vh; height: 3vh;" fill="currentColor" class="bi bi-person-heart" viewBox="0 0 16 16">
                        <path d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"/>
                      </svg>
                      <p style="margin-left: 1vh;">My Friends List</p>
                </div>
                <div class="inviteLove" (click)="share()">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 3vh; height: 3vh;" fill="#000" class="bi bi-postcard-heart" viewBox="0 0 16 16">
                        <path d="M8 4.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7Zm3.5.878c1.482-1.42 4.795 1.392 0 4.622-4.795-3.23-1.482-6.043 0-4.622ZM2.5 5a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Z"/>
                        <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H2Z"/>
                      </svg>
                      <p style="margin-left: 1vh;">Invite your buddy!   via whatsApp</p>
                </div>
                <div class="inviteLove" style="width: 40%;" (click)="logOut()">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 3vh; height: 3vh;" fill="#000" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                      </svg>
                      <p style="margin-left: 1vh;">Log out</p>
                </div>
            </div>
        </div>
    </div>
</div>