.wildcard {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h4 {
    margin: 4vh;
    font-size: 3vh;
}


@media (min-width: 992px) {

    h4 {
        font-size: 6vh;
    }

    img{
        width: 80%;
        height: 80vh;
    }

    .overAll {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
    }

}