<div class="myFriendsContainer">
    <div class="pageTitle" style="  position: absolute; top: 5.5vh; left: 50%; transform: translateX(-50%);">
        <h1 style="font-size: 2.1vh; font-weight: 600;">My Friends</h1>
    </div>

    <div class="backButton" routerLink="/chat" style="  position: absolute; top: 5vh; left: 5vh; ">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: 3vh; height: 3vh;" fill="#454545"
            class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path
                d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
        </svg>
    </div>

    <div class="searchBar">
        <svg style="margin-left: 2.9vh; width: 2vh; height: 2vh; " xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
            <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z" />
            <path
                d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z" />
        </svg>
        <input type="text" (focus)="handleInputFocus()" (blur)="handleInputBlur()"
            placeholder="Search Contact / Nick Name"  [(ngModel)]="query" (keyup)="search()" >
    </div>
    <div *ngIf="isSearchResults" class="SearchResults">
        <h2>Search Results</h2>
        <div class="emptySearchResult" *ngIf="searchResults.length === 0">
            <p style="font-size: 1.6vh;">User Not Found in your Friends List</p>
        </div>
        <div class="SearchResultsVisible"  *ngFor="let result of searchResults">
            <div class="profile">
                <h1 style="color: #fff;">{{result.userName.charAt(0)}}</h1>
            </div>
            <div class="names">
                
                <h4 style="font-size: 1.9vh;">{{result.userName}} 
                    <span *ngIf="result.gender === 'female'; else maleIcon">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            style="padding-left: 1vh; padding-top: 1vh; width: 1.5vh; height: 1.5vh; stroke: #ff00ea; stroke-width: 1.5;"
                            class="bi bi-gender-female" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z" />
                        </svg>
                    </span>
                    <ng-template #maleIcon>
                        <svg xmlns="http://www.w3.org/2000/svg"
                            style="padding-left: 1vh; padding-top: 1vh; width: 1.5vh; height: 1.5vh; stroke:  #66a9e0; stroke-width: 1.5;"
                            class="bi bi-gender-male" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z" />
                        </svg>
                    </ng-template>
                </h4>

                <h4>@{{result.nickname}}</h4>
                <h4>{{result.phoneNumber}}</h4>
            </div>
            <div class="accept" style="  width: 13vh; height: 4.8vh; z-index: 1000;" >
                <svg style="margin-right: 0.6vh; margin-bottom:0.4vh; width:1.9vh; height: 1.9vh;"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plugin "
                    viewBox="0 0 16 16">
                    <path d="M1 8a7 7 0 1 1 2.898 5.673c-.167-.121-.216-.406-.002-.62l1.8-1.8a3.5 3.5 0 0 0 4.572-.328l1.414-1.415a.5.5 0 0 0 0-.707l-.707-.707 1.559-1.563a.5.5 0 1 0-.708-.706l-1.559 1.562-1.414-1.414 1.56-1.562a.5.5 0 1 0-.707-.706l-1.56 1.56-.707-.706a.5.5 0 0 0-.707 0L5.318 5.975a3.5 3.5 0 0 0-.328 4.571l-1.8 1.8c-.58.58-.62 1.6.121 2.137A8 8 0 1 0 0 8a.5.5 0 0 0 1 0Z" />
                </svg>
                <h2>Request</h2>
            </div>


           
        </div>
    </div>
    
    <div class="friendRequestContainer" *ngIf="!isSearchResults">
        <div class="friendRequestBox"  *ngIf="FriendsList.length === 0">
            <p style="font-size: 1.6vh;">Friend List is Empty</p>
        </div>
        <div class="friendRequestVisible" *ngFor="let req of FriendsList">
            <div class="profile">
                <h1 style="color: #fff;">{{req.userName.charAt(0)}}</h1>
            </div>
            <div class="names">
                <h4 style="font-size: 1.9vh;">{{req.userName}}
                    <span *ngIf="req.gender === 'female'; else maleIcon">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            style="padding-left: 1vh; padding-top: 1vh; width: 1.5vh; height: 1.5vh; stroke: #ff00ea; stroke-width: 1.5;"
                            class="bi bi-gender-female" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z" />
                        </svg>
                    </span>
                    <ng-template #maleIcon>
                        <svg xmlns="http://www.w3.org/2000/svg"
                            style="padding-left: 1vh; padding-top: 1vh; width: 1.5vh; height: 1.5vh; stroke:  #66a9e0; stroke-width: 1.5;"
                            class="bi bi-gender-male" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z" />
                        </svg>
                    </ng-template>
                </h4>
                <h4>@{{req.nickname}}</h4>
                <h4>{{req.phoneNumber}}</h4>
            </div>

            <svg (click)="openChatingpage(req)" xmlns="http://www.w3.org/2000/svg" style=" margin-right: 4vh;height: 2.5vh; width: 2.5vh;" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
              </svg>

           
                <svg (click)="removeFriend(req)"  xmlns="http://www.w3.org/2000/svg" style="margin-right: 0.6vh; width:2.3vh; height: 2.3vh;" class="bi bi-heartbreak-fill red-icon" viewBox="0 0 16 16">
                    <path d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586ZM7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77Z"/>
                </svg>
        </div>
    </div>

</div>